body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #5D737E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  justify-content: center;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageName{
  min-width: 70vw;
}

.dropdown{
  max-height: 30px;
  border-radius: 5px;
  background-color: #FCFCFC;
  outline: solid;
  outline-width: 1px;
  outline-color: #02111B;
}

.productGrid{
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;

}


.card{
  margin: auto;
  width: 300px;
  height: 300px;
  outline: solid;
  outline-color: #02111B;
  border-radius: 5px;
  background-color: #FCFCFC;
}

.container{
  min-width: fit-content;
  height: 280px;
  margin: 10px;
}

.emote{
  display: flex;
  margin: 10px;
  min-height: 50%;
  justify-content: center;
  align-items: center;
  
}

.emote__price{
  display: flex;
  padding: 5px 0;
  max-width: 60px;
  justify-content: center;
  border-radius: 5px;
  background-color: #02111B;
  font-weight:bold;
  color: #FCFCFC;
}

.emote__price:hover{
  background-color: #5D737E;
  cursor: pointer;
}
